<%= erb :'layouts/_header' %>

  <h1>Pigeons</h1>

  <% @pigeons.each do |pigeon| %>
    <%= pigeon.name %>
    <%= pigeon.color %>
    <%= pigeon.gender %>
    <%= pigeon.lives %>
  <% end %>

  <a class="button" href="/pigeons/new">New Pigeon</a>

<%= erb :'layouts/_footer' %>
