<%= erb :'layouts/_header' %>

  <img src="http://<%= @pigeon.color.delete("[],\"").split.first %>pigeon.jpg.to/" width="300">

  <%= @pigeon.name %>
  <%= @pigeon.color %>
  <%= @pigeon.gender %>
  <%= @pigeon.lives %>

  <ul>
  <li>
    <form action="/pigeons/<%= @pigeon.id %>/edit" method="get">
      <input type="submit" value="Edit" />
    </form>
  </li>

  <li><a class="button" href="/pigeons">Show All Pigeons</a></li>

  <li>
    <form action="/pigeons/<%= @pigeon.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE" />
      <input type="submit" value="Destroy" />
    </form>
  </li>
</ul>

<%= erb :'layouts/_footer' %>
